<% provide(:title, "Edit quiz") %>
<h1>Edit #<%= @question.id %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@question) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.label :answer %>
      <%= f.text_field :answer, class: 'form-control' %>

      <%= f.label :is_public %>
      <%= f.check_box :is_public %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>

