<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span>You have <%= pluralize(current_user.questions.count, "my question") %> <%= link_to "manage", "/questions/manage" %></span>
<span>You have <%= pluralize(current_user.challenges.count, "total challenge") %> so far.</span>
