<% provide(:title, 'challange quiz #') %>
<h1>Challenge Quiz #<%= @question.id %> </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= render 'shared/note_challenge' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    Question: <%= @question.description %>

    <%= form_for(@challenge) do |f| %>
      <%= f.label 'your answer' %>
      <%= f.text_field :my_answer %>
      <%= f.hidden_field :question_id %>
      <%= f.submit "submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
