<% provide(:title, "solution ") %>

<div class="row">
  <aside class="col-md-4">
    <section class="question_info">
      <h1>
        Question #<%= @question.id %> 
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
        <section class="question_description">
        Question: <%= @question.description %>
        </section>
        <section class="question_answer">
        Answer:<%= @question.answer %>
        </section>
        <section class="question_my_answer">
        Your Answer:<%= @challenge.my_answer %>
        </section>
        <section class="question_misc">
        </section>
        <section class="assessment">
        <%= @assessment %>
        </section>

  </div>
</div>

<div class="row">
<span><%= link_to "challenge other questions", questions_path %></span>
</div>
