<% provide(:title, "result") %>

<div class="row">
  <aside class="col-md-4">
    <section class="question_info">
      <h1>
        Question #<%= @question.id %> 
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
        <section class="question_description">
        Question: <%= @question.description %>
        </section>
        <section class="question_answer">
        Answer:<%= @question.answer %>
        </section>
        <section class="question_my_answer">
        Your Answer: <%= @challenge.my_answer %>
        </section>
        <section class="question_misc">
        </section>
        <section class="assessement" id="feedback">
        Assessment: <%= @assessment %>
        </section>
        <section class="note" style="color:red;">
<% if @question.user == current_user %>
          *Challenge to your own quiz does not add your score.*
<% end %>
        </section>
  </div>
</div>

<div class="row">
<% if @question.user == current_user %>
<span>
<%= link_to "manage questions", manage_questions_path %></span>
<% else %>
<span><%= link_to "challenge other questions", questions_path %></span>
<% end %>
</div>
